* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(47, 47, 47);
}

a {
  text-decoration: none;
}

h1 {
  background-color: rgb(251, 116, 152);
  font-size: 2em;
  color: white;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: start;
  font-family: monospace;
  align-items: center;
  padding: 1em;
  background-color: rgb(251, 116, 152);
  margin-bottom: 1em;
}

.form-section {
  justify-content: center;
  margin-bottom: 1em;
  align-items: center;
  display: flex;
  width: 100%;
}

.sku-enter {
  background-color: rgb(66, 66, 66);
  border: 2px solid rgb(251, 116, 152);
  border-radius: 5px;
  font-size: 1.5em;
  margin-left: 1em;
  color: white;
  padding: 0.3em;
}

.file-name,
.item-quantity {
  margin-left: 0.5em;
  color: white;
  font-size: 1.3em;
}

.item-quantity {
  margin-left: 3em;
}

main {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 90%;
  padding: 1em;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-auto-rows: auto;
  gap: 1px;
}

.header {
  display: flex;
  background-color: rgb(251, 116, 152);
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

@keyframes colorTransition {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(246, 182, 199);
  }
  100% {
    background-color: rgb(164, 244, 151);
  }
}

.cell {
  font-size: 0.8em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cell-ok {
  font-size: 0.8em;
  background-color: rgb(164, 244, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* transition: background-color 0.6s ease, color 0.6s ease; */
  animation: colorTransition 0.9s ease;
}

#sendOkItems {
  font-size: 2em;
}
