* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(47, 47, 47);
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: start;
  font-family: monospace;
  align-items: center;
  padding: 1em;
  background-color: rgb(251, 116, 152);
  margin-bottom: 1em;
}

h1 {
  background-color: rgb(251, 116, 152);
  font-size: 2em;
  color: white;
}

form {
  margin-left: 5.8%;
  width: 33%;
  padding: 0.3em;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid white;
  color: white;
}

.file-label {
  font-size: 1.5em;
  background-color: white;
  color: rgb(47, 47, 47);
  font-weight: bold;
}

.custom-file-label {
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.2em;
  background-color: #424242;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-file-label:hover {
  background-color: rgb(251, 116, 152);
  color: rgb(47, 47, 47);
}

.form-submit-btn {
  font-size: 1.2em;
  color: white;
  margin: 0.5em;
  padding: 0.2em;
  background-color: rgb(66, 66, 66);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  text-align: center;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form-submit-btn:hover {
  background-color: #fb7498;
  color: rgb(47, 47, 47);
}

.list-section {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.list-section-child {
  width: 90%;
  display: flex;
  justify-content: start;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  color: white;
  font-family: monospace;
  font-size: 1.3em;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 15px;
  /* border-bottom: 1px solid white; */
}

#fileList {
  display: flex;
  flex-direction: column-reverse;
}

/* Estilo base para los elementos */
.item-list {
  opacity: 0;
  transform: translateY(-20px); /* Posiciona el elemento un poco más arriba */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Cuando se añade la clase "show" */
.item-list.show {
  opacity: 1;
  transform: translateY(0); /* Mueve el elemento a su posición original */
}

/* //////// */

.item-list,
.item-name,
.item-status,
.item-delete {
  background-color: rgb(92, 92, 92);
}

.item-name {
  grid-column: 1;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
}

.item-name:hover {
  color: rgb(251, 116, 152);
}

.item-status {
  grid-column: 3;
}

.item-delete {
  background-color: rgb(251, 116, 152);
  border-radius: 15px;
  color: white;
  grid-column: 4;
  width: 50%;
  cursor: pointer;
  border: none;
}

/** PLANILLA */
main {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 90%;
  padding: 1em;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-auto-rows: auto;
  gap: 1px;
}

.header {
  display: flex;
  background-color: #fb7498;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.cell {
  font-size: 0.8em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/*! SWEET ALERT */

/**  ALERTA DE ELIMINACION DE FILES */

.swal2-popup-custom {
  font-size: 0.8em;
}

.swal2-title-custom,
.swal2-html-container {
  color: white !important;
  background-color: #424242;
}

.swal2-actions {
  background-color: #424242;
}

.swal2-confirm-custom {
  background-color: #6fd57d !important;
  color: black !important ;
}

.swal2-icon-custom {
  color: #fb7498 !important;
  border-color: #fb7498 !important;
  background-color: #424242 !important;
}
.swal2-cancel-custom {
  background-color: rgb(191, 76, 76) !important;
  color: black !important;
}
.swal2-icon-content {
  background-color: #424242 !important;
  font-size: 4em !important;
  border-radius: 50px;
}

/* .swal2-html-container {
  color: red !important;
} */
/* 'swal2-confirm-custom' */
/* 'swal2-cancel-custom', */
/* 'swal2-icon-custom', */
