<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login user</h1>
    <form action="/api/sessions/login" method="post">
      <label for="email">Email: </label><input type="email" name="email" />
      <label for="password">Contraseña: </label
      ><input type="password" name="password" />
      <button type="submit">Inciar sesión</button>
    </form>
    <button type="button">
      <a href="/register">¿No estas registrad@? ¡Registrate acá!</a>
    </button>
    <button type="button">
      <a href="/restore-password">¿Olvidaste tu contraseña? ¡Recuperala!</a>
    </button>
  </body>
</html>
