<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar contraseña</title>
  </head>

  <body>
    <h1>Recuperar contraseña</h1>
    <form action="/api/sessions/restore-password" method="post">
      <label for="">Email:</label><input type="email" name="email" />
      <label for="">Nueva contraseña:</label
      ><input type="password" name="password" />
      <button type="submit">Restaurar contraseña</button>
    </form>
  </body>
</html>
